@page "/getchat/{chatId}"
@using Blazored.LocalStorage;
@using IdentityBlazor.Models;
@using Microsoft.AspNetCore.SignalR.Client;
@inject ILocalStorageService _storage
@inject HttpClient Http
@inject NavigationManager Navigation

@{
	foreach(var message in messages)
	{
		<p>@message.FromUserId</p>
		<p>@message.Text</p>
		<p>@message.Date.ToString()</p>
	}
}
<form>
	<input class="form-control" type="text" @bind-value="messageText" placeholder="message" />
	<button type="button" class="btn btn-primary form-control" @onclick="(async() => await SendMessage())">Send</button>
</form>


@code{
	private string messageText { get; set; }

	[Parameter]
	public string? chatId { get; set; }

	private List<MessageModel>? messages = new List<MessageModel>();
	private HubConnection? _hubConnection;

	protected override async Task OnInitializedAsync()
	{
		messages = await Get($"api/Chat/chat?chatid={chatId}");
	 	await ConnectToHub();
	}

	private async Task<List<MessageModel>>? Get(string url)
	{
		var token = await _storage.GetItemAsStringAsync("token");

		var request = new HttpRequestMessage(HttpMethod.Get, url);
		request.Headers.Add("Authorization", $"Bearer {token}");

		var response = await Http.SendAsync(request);

		return await response.Content.ReadFromJsonAsync<List<MessageModel>>();
	}

	private async Task ConnectToHub()
	{
		var token = await _storage.GetItemAsStringAsync("token");

		_hubConnection = new HubConnectionBuilder()
			.WithUrl($"https://localhost:7044/hubs/chatuchun?token={token}")
			.Build();

		_hubConnection.On<MessageModel>("NewMessage", model =>
		{
			messages!.Add(model);
			StateHasChanged();
		});

		await _hubConnection.StartAsync();
	}

	private async Task SendMessage()
	{
		var token = await _storage.GetItemAsStringAsync("token");

		var request = new HttpRequestMessage(HttpMethod.Post, "api/chat/sendmessage");
		request.Headers.Add("Authorization", $"Bearer {token}");
		request.Content = JsonContent.Create(new NewMessageModel()
		{
			Text = messageText,
			ChatId = Guid.Parse(chatId)
		});
		await Http.SendAsync(request);
	}
}

